<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script src="/jquery/dist/jquery.js"></script>
    <!--<script src="/js/index.js"></script>-->
    <script src="/angular/angular.js"></script>
    <script src="/js/controller.js"></script>
</head>
<body ng-app="app" ng-controller="MainController">
    <div class="jumbotron">
        Hello
    </div>
    <div class="container">
        <label for="filmNmae">Film name:</label>
        <input type="text" id="filmName" ng-model="filmName">
        <label for="year">Year:</label>
        <input type="text" id="year" ng-model="year">
        <input type="button" id="send" class="btn btn-sm btn-primary" value="Write film" ng-click="writeFilm()">
    </div>
    <div class="container" id="filmsContent">
        
    </div>
</body>
</html>